<h1>#{{hashtag}}</h1>
<div class="hashtag-gallery">

    <div class="row">
        {{#each media}}
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal{{id}}">
                    <img src="{{images.thumbnail.url}}" alt="">
                    
                </a>
                
            </div>
            <div class="modal fade" id="myModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">#{{../hashtag}}</h4>
                        </div>
                        <div class="modal-body">
                            <img src="{{images.standard_resolution.url}}" alt=""/>
                        </div>
                        <div class="modal-footer">
                            <img class="user-avatar" src="{{user.profile_picture}}"/>
                            <p class="user-name">@{{user.username}}</p>
                            <p class="image-caption">{{caption.text}}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
